In [4]:
import pandas as pd
import numpy as np
import json 
import seaborn as sns
import os
import re
from pylab import mpl, plt

plt.style.use('seaborn')
mpl.rcParams['savefig.dpi'] = 300
mpl.rcParams['font.family'] = 'serif'

In [29]:
def json_to_df(file_dir, col_name="price"):
    "reads file json and format to use, suppose glassnode source"
    df = pd.read_json(file_dir)
    df.columns = ["time", col_name]
    df["time"] = pd.to_datetime(df["time"])
    df.set_index("time", inplace=True)
    return df




files = [json_to_df(f, col_name=f) for f in os.listdir('.') if re.match(r'addresses*', f)]



data = files[0].join(files[1:])

In [18]:
df

                             price
time
2009-01-03 00:00:00+00:00        1
2009-01-04 00:00:00+00:00        1
2009-01-05 00:00:00+00:00        1
2009-01-06 00:00:00+00:00        1
2009-01-07 00:00:00+00:00        1
...                            ...
2020-10-13 00:00:00+00:00  3151080
2020-10-14 00:00:00+00:00  3152032
2020-10-15 00:00:00+00:00  3154202
2020-10-16 00:00:00+00:00  3153937
2020-10-17 00:00:00+00:00  3154890

[4306 rows x 1 columns]